  
  <!DOCTYPE html>
  <html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <h1><%= title %></h1>
    <div class="chat-box">
    <% 
    messages.forEach(msg => {
      %>
      <div class="message">
        <div class="message-top">
          <p class="message-user"><%= msg.user %></p>
          <p class="message-added"><%= msg.added %></p>
        </div>
        <p class="message-text"><%= msg.text %></p>
      </div>
    <% })%>
    </div>
    <%- include('./partials/form.ejs')%>
  </body>
</html>
